body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    background-image: url('chemback.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x; 
}

.logo {
    max-width: 150px; 
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: right;
}


nav {
    display: 100px;
    background-color: darkblue;
    padding: 10px;
    opacity: 0.8;
}

nav a {
    color: white;
    text-decoration: underline;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: orange;
}

main {
    display: flex;
}


.content, .n1 {
    border: 2px solid #ccc;
    border-radius: 5px; 
    padding: 5px; 
    padding-left: 15px;
    color: blue;
    background-color: whitesmoke;
    flex: 1;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    opacity: 0.8;
}

.content, .n2 {
    border: 2px solid #ccc;
    border-radius: 5px; 
    padding: 5px; 
    padding-left: 15px;
    color: whitesmoke;
    background-color: darkblue;
    flex: 1;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    opacity: 0.8;
}

.n2 {
    margin: 5px;
    padding: 10px;
}

.content, .n3 {
    border: 2px solid #ccc;
    border-radius: 5px; 
    padding: 5px; 
    padding-left: 15px;
    color: whitesmoke;
    background-color: darkblue;
    flex: 1;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    opacity: 0.8;
}

.n3 {
    margin: 5px;
    padding: 10px;
}

.content, .n4 {
    border: 2px solid #ccc;
    border-radius: 5px; 
    padding: 5px; 
    padding-left: 15px;
    color: whitesmoke;
    background-color: darkblue;
    flex: 1;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    opacity: 0.8;
}

.n4 {
    margin: 5px;
    padding: 10px;
}

.facebook-post {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: gray;
    max-width: 600px;
}

.facebook-post img {
    max-width: 250px;
    margin-right: 15px;
    border-radius: 5px;
}

.post-content {
    flex: 1;
}

.post-content p {
    margin: 5px 0;
}

.post-content a {
    display: inline-block;
    color: skyblue;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

.post-content a:hover {
    text-decoration: underline;
    color: orange;
}


header {
    background-color: transparent;
    color: blue;
    text-align: center;
    font-size: small;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    opacity: 0.6;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.header i {
    margin-right: 5px;
    color: white;
}


footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: small;
    padding: 20px;
    opacity: 0.8;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer i {
    margin-right: 5px;
    color: white;
}

.footer-divider {
    border-top: 1px solid white;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icon {
    font-size: 20px;
    color: yellow;
    transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
    color: yellow;
    transform: scale(1.5);
}
